name: AutoMarket CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Instalar dependencias
        run: |
          cd inventory-service && npm install
          cd ../customers-service && npm install
          cd ../sales-service && npm install
          cd ../api-gateway && npm install

      - name: Construir imágenes Docker
        run: |
          docker build -t inventory-service ./inventory-service
          docker build -t customers-service ./customers-service
          docker build -t sales-service ./sales-service
          docker build -t api-gateway ./api-gateway

      - name: CI completado
        run: echo "Pipeline CI ejecutado correctamente."
